body {
    background-color: lightgrey;
    margin: 26px auto;
    max-width: 800px;
}

/* === heading, auothor & date ===*/

h1 {
    background-color: black;
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 40px;
    font-style: oblique;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2 {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    text-align: center;
}

.author {
    display: block;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    text-align: center;
}

/* === main body of article ===*/

blockquote {
    color: darkgray;
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-size: 18px;
    margin: 26px auto;
    max-width: 800px;
    line-height: 30px;
}

p {
    font-family: 'Merriweather', serif;
    font-size: 18px;
    line-height: 26px;
}

/* try to make it look like google news*/

.product-name {
    text-transform: uppercase;
}

.separator {
    text-align: center
}
