body {
    background-color: lightgrey;
    margin: 26px auto;
    max-width: 800px;
}

h1 {
    font-size: 40px;
    font-style: oblique;
    text-align: center;
    text-transform: uppercase;
    background-color: black;
    color: white;
    letter-spacing: 4px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

h2 {
    font-size: 20px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

blockquote {
    font-size: 18px;
    margin: 26px auto;
    line-height: 26px;
    max-width: 800px;
    color: grey;
    font-family: 'Merriweather', serif;
    font-style: italic;
}

p {
    font-size: 18px;
    line-height: 26px;
    font-family: 'Merriweather', serif;
}

/* try to make it look like google news*/

.author {
    font-size: 20px;
    display: block;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.product-name {
    text-transform: uppercase;
}

.separator {
    text-align: center
}
