*,
*::before,
*::after {
    box-sizing: border-box;
}

/*when using pseudo elements we need   *::before,*::after   */

body {
    font-family: 'BenchNine', sans-serif;
    font-size: 24px;
}

.button-reset {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: 0;
    text-align: inherit;
}

​ .button-reset[disabled] {
    cursor: default;
}

fieldset {
    border: 0;
    padding: 0;
}

h2 {
    font-size: 32px;
}

label {
    display: block;
}

select {
    cursor: pointer;
}

.tel-phone {
    display: block;
}

input {
    resize: horizontal;
    resize: vertical;
    height: 60px;
    width: 300px;
}

input,
select,
textarea {
    font-family: inherit;
}

input[type="number"] {
    width: 100px;
}

input[type="radio"],
input[type="checkbox"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 3px solid black;
    height: 12px;
    width: 12px;
}

input[type="radio"] {
    border-radius: 50%;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
    background-color: aqua;
}

input[type="radio"]:checked+label,
input[type="checkbox"]:checked+label {
    color: aqua;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
    background-color: aqua;
}

input[type="text"]:required:valid,
input[type="email"]:required:valid,
input[type="number"]:required:valid {
    background-color: greenyellow;
}

input[type="text"]:required:invalid,
input[type="email"]:required:invalid,
input[type="number"]:required:invalid {
    background-color: orange;
}

input[type="text"]:not(:placeholder-shown):invalid,
input[type="email"]:not(:placeholder-shown):invalid,
input[type="number"]:not(:placeholder-shown):invalid {
    background-color: orange;
}
