:root {
    --color-red: #c61a3a;
    --color-green: #71f79f;
    --color-offblack: #1e2019;
    --color-grey: #d1d5de;
    --color-offwhite: #fafafa;
    --color-blue: #163346;
}

/*  ================== COLOR PALETTE ==================*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*when using pseudo elements we need   *::before,*::after   */

body {
    color: var(--color-offwhite);
    font-family: 'BenchNine', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

fieldset {
    border: 0;
    padding: 0;
}

fieldset+fieldset {
    display: inline-block;
}

h1 {
    color: black;
    display: block;
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    width: 60%;
}

h2 {
    color: var(--color-grey);
    font-family: 'Teko', sans-serif;
    font-weight: 500;
    font-size: 32px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: var(--color-blue);
}

h3 {
    color: var(--color-blue);
    text-align: center;
}

h3,
h4 {
    font-size: 16px;
}

label {
    display: block;
}

p {
    color: var(--color-grey);
}

select {
    cursor: pointer;
}

textarea {
    height: 60px;
    width: 300px;

}

input {
    resize: horizontal;
    resize: vertical;
    height: 60px;
    width: 300px;
}

input,
select,
textarea {
    font-family: inherit;
}

input[type="number"] {
    width: 100px;
}

input[type="radio"],
input[type="checkbox"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 2px solid var(--color-offwhite);
    position: relative;
    top: 6px;
    height: 24px;
    width: 24px;
}

input[type="radio"] {
    border-radius: 50%;
}

input[type="radio"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:hover,
input[type="checkbox"]:hover {
    border: 2px solid var(--color-green);
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
    border: 2px solid var(--color-offwhite);
    background-color: var(--color-green);
}


input[type="radio"]:checked+label {
    padding-bottom: 2px solid var(--color-green);
}

/*
input[type="radio"]:checked+label.selected-decoration,
input[type="checkbox"]:checked.selected-decoration {
    text-decoration-line: underline;
    text-decoration-color: var(--color-green);
}
*/

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
    border-bottom-color: var(--color-green);
}

/*
input[type="text"]:required:valid,
input[type="email"]:required:valid,
input[type="number"]:required:valid {
    background-color: greenyellow;
}


input[type="text"]:required:invalid,
input[type="email"]:required:invalid,
input[type="number"]:required:invalid {
    border-bottom-color: var(--color-red);
}


input[type="text"]:not(:placeholder-shown):invalid,
input[type="email"]:not(:placeholder-shown):invalid,
input[type="number"]:not(:placeholder-shown):invalid {
    background-color: orange;
}

*/
/*  ================== GLOBAL SETTINGS ================== */

.button-reset {
    background: var(--color-green);
    border: 5px solid var(--color-offblack);
    cursor: pointer;
    display: block;
    font-family: 'Teko', sans-serif;
    font-size: 32px;
    font-weight: 300;
    height: 90px;
    margin: auto;
    width: 200px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}

.button-reset:hover {
    background: var(--color-green);
    border: 5px solid var(--color-offblack);
    cursor: pointer;
    display: block;
    font-family: 'Teko', sans-serif;
    font-size: 32px;
    font-weight: 300;
    height: 90px;
    margin: auto;
    width: 200px;
    outline: 3px solid var(--color-green);
    padding: 0;
    text-align: center;
}

​ .button-reset[disabled] {
    cursor: default;
}

.box {
    background-color: var(--color-offblack);
    padding: 25px;
    margin: auto;
    min-width: 350px;
    width: 60%;
}

.confirm_box {
    position: relative;
    margin: auto;
    max-width: 500px;

}

.powers {
    width: 80%;
}

.shield {
    display: block;
    margin: auto;
}
