* {
    box-sizing: border-box;
}

body {
    background-color: rgb(100, 100, 100);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

h2 {
    font-family: JCHEadA;
    font-size: 30px;
    line-height: 26px;
}

.score {
    font-family: JCHEadA;
    font-size: 16px;
}


.imbd {
    color: rgb(246, 197, 24);
    font-size: 25px;
}

.button-shadow {
    background-color: rgba(0, 0, 0, 0.1);
    border: 10px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    height: 35px;
    left: 598px;
    width: 118px;
    position: absolute;
    top: 173px;
    z-index: -1;
}

.watch-tralier {
    background-color: rgb(246, 197, 24);
    border: 10px solid rgb(246, 197, 24)k;
    border-radius: 4px;
    display: inline-block;
    font-weight: bold;
    height: 35px;
    padding: 10px;
    width: 120px;
    left: 590px;
    position: absolute;
    top: 167px;
}

.poster {
    border: 10px solid rgb(58, 58, 58);
    height: 180px;
    left: 570px;
    position: absolute;
    top: 50px;
    width: 336px;
    z-index: -2;
}

.joker {
    left: 590px;
    position: absolute;
    top: 50px;
}

.score {
    left: 590px;
    position: absolute;
    top: 110px;
}

.rating-time {
    left: 590px;
    position: absolute;
    top: 135px;
}

.genres {
    left: 590px;
    position: absolute;
    top: 148px;
}

.gradient {
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0%, rgba(55, 55, 55, 0.80) 59%);
    height: 160px;
    left: 580px;
    position: absolute;
    top: 60px;
    width: 316px;
    z-index: -1;
}

.watch-tralier:hover {
    background-color: rgb(58, 58, 58);
    border: 10px solid rgb(58, 58, 58)k;
}
