* {
    box-sizing: border-box;
}

body {
    background-color: rgb(100, 100, 100);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

h2 {
    font-family: JCHEadA;
    font-size: 30px;
    line-height: 26px;
}

/*===== class  =====*/

.button-shadow {
    background-color: rgba(0, 0, 0, 0.1);
    border: 10px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    height: 35px;
    left: 598px;
    position: absolute;
    top: 173px;
    width: 118px;
    z-index: -1;
}

.card {
    position: relative;
}

.gradient {
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0%, rgba(55, 55, 55, 0.80) 59%);
    height: 160px;
    left: 580px;
    position: absolute;
    top: 60px;
    width: 316px;
    z-index: -1;
}

.imbd {
    color: rgb(246, 197, 24);
    font-size: 25px;
}

.title {
    left: 590px;
    position: absolute;
    text-transform: uppercase;
    top: 65px;
}

.poster {
    border: 10px solid rgb(58, 58, 58);
    height: 180px;
    left: 570px;
    position: absolute;
    top: 50px;
    width: 336px;
    z-index: -2;
}

.rating-time-genres {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    left: 550px;
    list-style: none;
    position: absolute;
    top: 135px;
}

li {
    display: inline-block;
}

.rating-time-genres li:after {
    color: rgb(255, 255, 255);
    content: " |";
}

.score {
    font-family: JCHEadA;
    font-size: 16px;
    left: 590px;
    position: absolute;
    top: 120px;
}

.watch-tralier {
    background-color: rgb(246, 197, 24);
    /* border: 10px solid rgb(246, 197, 24); */
    border-radius: 4px;
    display: inline-block;
    font-weight: bold;
    height: 35px;
    left: 590px;
    padding: 10px;
    position: absolute;
    text-transform: uppercase;
    top: 167px;
    width: 120px;
}

.watch-tralier:active {
    background-color: rgb(58, 58, 58);
    border: 10px solid rgb(58, 58, 58)k;
}

.watch-tralier:visited {
    color: rgb(246, 197, 24);
}
